@import "@fontsource/quicksand/700.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body text-charcoalBlack bg-creamyIvory;
}
h1, h2, h3, h4 {
  @apply font-heading;
}
